<div ng-controller="SEController as template">
    <div id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">

                <a ng-href="#/" class="dashboard-logo"></a>

                {{::ctrl.dashboard.title}}
            </div>
        </nav>
    </div>

    <div class="dashboard-widgets container-fluid" widget-container dashboard="ctrl.dashboard" ng-if="template.widgetView == 'Widget'">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-xs-12">
                        <widget name="repo"></widget>
                    </div>
                </div>
                <!--</div>-->
            </div>

            <div class="col-md-8">
                <widget name="build"></widget>
                <widget name="codeanalysis"></widget>
            </div>

        </div>
    </div>

</div>
